<% if @operators_oncall.empty? %>
  <div id="noone-oncall"><p class="small"  style="margin-left:30px;">No operators on call</p></div>
<% end %>
<ul class="list-group list-group-horizontal" id="oncall-operators">
  <%= render :partial => 'users/user', :collection => @operators_oncall %>
</ul>
<ul class="list-group list-group-horizontal" id="all-operators" style="display:none;">
  <%= render :partial => 'users/user', :collection => @operators %>
</ul>